{
  "env": {
    "docs": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ],
        ["minify"]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "chrome": "64",
              "firefox": "61"
            }
          }
        ],
        [
          "minify",
          {
            "keepFnName": false,
            "removeConsole": true,
            "removeDebugger": true
          }
        ]
      ]
    }
  }
}
